
<html>

  <body>

		<p>Hey <%= @name %>,</p>
		<br /> 
		<br />
		<p>One of your Facebook friends wants to be your Friend with Benefits!</p>
		<br />
		<p>Find out who on <a href="http://friends-with-benefits.me">Friends-with-Benefits.me</a>.</p>
		<br />
		<br />
		<p>The "Friends with Benefits" Team</p>
		<br />
		<p>===============================================</p>
		<p>Friends-with-Benefits.me allows you to seek out friends in your facebook network who are interested in being more than just your friend.</p>
		<br />
		<p>It is safe for work and does not contain any graphic images.</p>

  </body>
</html>
