
<html>

  <body>

		<p>Hey <%= @name %>,</p>
		<br/>
		<p>One of your Facebook friends has invited you to play <em>The Friends with Benefits Game</em>!</p>
		<br/>
		<p>Play it on <a href="http://fwb-game.com">fwb-game.com</a>.</p>
		<br/>
		<p><em>The FWB-Game Team</em></p>
		<br />
		<p>===============================================</p>
		<br />
		<p>Also check out Justin Timberlake's new movie "Friends With Benefits" at fwb-movie.com</p>

  </body>
</html>
