<html>
<body>

Congratulations, a friend of yours wants to be more than just a friend!
<br/>
<br/>
<%= link_to 'Log in', "http://friends-with-benefits.me" %> to find out who it is.
<br/>
<br/>
The "Friends with Benefits" Team
 
</body>
</html>

