<html>
<body>

Congratulations, a friend of yours wants to be more than just a friend!
<br/>
<br/>
<%= link_to 'Log in', "http://fwb-game.com" %> to find out who it is.
<br/>
<br/>
The FWB-Game Team
 
</body>
</html>

