html, body, div, span, object, iframe, h1, h2, h4, h5, h6, p, a, img,  u, i, dl, dt, dd, form, tr, th, td, footer, header, menu, nav{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}

body {
margin:0;
font-family:arial, sans-serif;
background:black;
height:52px;
color:black;
padding-top:4px;
}


#header{
/*margin-bottom:20px;*/
}

#header a, #header a:visited {
color:black;
}

#account-nav{
width:960px;
height:50px;
margin:0 auto 20px auto;
position:fixed;
top:0;
z-index:1;
padding-top:4px;
padding-bottom:4px;
background:black;

}

#fwb-word-logo {
float:left;
}

#fwb-logo {
float:left;
margin-top:-2px;
}

#fwb-logo2 {
float:left;
margin-top:-5px;
margin-left: -8px;
}

#share {
padding-top:14px;
padding-left:20px;
}

#header .fb-share {
float:left;

margin:0px 20px 0 102px;

}

#fb-like {
float:left;
width:50px;
margin:4px 24px 0 0;
overflow:hidden;
}


#twit-share {
float:left;
width:80px;
margin:4px 20px 0 0;
overflow:hidden;
}

#fb-login {

float:right;
margin:4px 20px 0 0;
}




#trailer-link {
width:259px;
height:36px;
background: url('../images/trailer-btn.jpg');
color:white;
font-weight:bold;
font-size:10pt;
text-align:center;
padding-top:8px;
margin:40px 0 60px 0;
position:absolute;
right:100px;
top:40px;
}

#trailer-link p {
margin-left:20px;
}

#trailer-link:hover {
background-position:0 44px;
}


#wrapper {
padding-top:20px;
width:100%;
}

#content {
width:960px;
margin:0 auto 0 auto;
}

.clear {
clear:both;
}

#tagline {
height:60px;
clear:both;
margin:20px auto 10px auto;
width:500px;
font-weight:bold;
font-size:18pt;
}

#landing-logo-wrapper {
width:570px;
margin:160px auto 40px;;
height:224px;
}

#landing-logo {
}

#landing #fb-login-wrapper {
margin:0 auto 60px;
width:108px;
}

#landing .content {
clear:both;
width:960px;
}

#landing .img {
float:left;
margin:0 ;
margin-top:10px;
padding-top:10px;
}

#landing img {
margin:0 ;
margin-bottom:-10px;
}


/************************************ HOW IT WORKS LANDING ************************************/


#how-it-works-landing {
width:670px;

background:white;
border-radius:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
padding:30px 40px 20px 30px;
/*margin:4px 0 0 40px;*/
margin:0 auto;

}

#how-it-works-landing .title {
font-size:18pt;
margin-bottom:20px;
font-weight:bold;
}

#how-it-works-landing ol {
padding:0 0 0 26px;

}

#how-it-works-landing li {
font-size:14pt;
margin-bottom:20px;
}



/************************************ HOW IT WORKS ************************************/

#intro-line {
text-align:center;
font-size:24pt;
margin-bottom:40px;
margin-top:40px;
padding:20px;
color:white;
display:none;
}

#intro-line .one, #intro-line .two, #intro-line .three{



}

#intro-line .two, #intro-line .three {
margin-top:-10px;
}


#how-it-works {
width:680px;
clear:both;
background:black;
position:relative;
color:white;
height:200px;
font-size:14pt;
/*
border-radius:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
*/
padding:2px 40px 0 40px;
margin:140px auto 220px;

}

#how-it-works .content {
margin-top:10px;
height:100px;
}

#how-it-works ol {
padding-left: 20px;

}

#how-it-works li {
margin-bottom:2px;
}

#how-it-works .title {
font-weight:bold;
margin-top:20px;
margin-bottom:10px;
font-size:16pt;
}


#play-btn {

width:100px;
height:22px;
border-radius:5px;
background:#ff7800;
color:white;
padding-top:4px;
text-align:center;
font-size:12pt;
font-weight:bold;
position:absolute;
bottom:-100px;
right:80px;
}

#play-btn:hover {
background:#ffbf00;
}


.spacer-1 {
height:600px;
}

#jump-to {
height:80px;
}
/************************************ MATCHES ************************************/


#matches {
clear:both;
width:890px;
background:#ff7800;
background-position:830px 10px;
/*
border-radius:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
*/
padding:20px 30px 30px 40px;
overflow:hidden;
color:black;
min-height:100px;
position:relative;
margin-top:20px;
min-height:140px;
}

#matches-logo {
position:absolute;
bottom:-10px;
right:10px;
}

#matches .header {
height:40px;


}

#matches .title {
font-size:16pt;
font-weight:bold;
margin-bottom:16px;
float:left;
width:280px;
}


/************************************ KEYS ************************************/


#keys {

height:10px;
}

.keys-count {
/*
margin:0 2px 0 386px;
*/
margin-right:20px;
float:right;
height:28px;
margin-top:-4px;
padding-right:8px;
border:1px solid white;
border-radius:3px;

}

.keys-count .count {
padding-top:4px;
font-size:14pt;
font-weight:bold;
float:left;
color:white;
}




.purchase-keys-btn {
/*background:#5d76aa;*/
background:black;
width:126px;
height:25px;
float:right;
font-weight:bold;
padding-top:8px;
padding-left:10px;
margin-top:-6px;
	border: 1px solid #202020;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.purchase-keys-btn:hover {
/*
background:#ffbf00;
background:#ff7800;
border:1px #555555 solid;
*/


	background: -moz-linear-gradient(
		top,
		#0a0a0a 0%,
		#0a0a0a 45%
		#1c1c1c 90%,
		#2a2a2a);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#0a0a0a),
		color-stop(0.45, #0a0a0a),
		color-stop(0.90, #1c1c1c),
		to(#2a2a2a));
	border: 1px solid #363636;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

}


#logo-question {
margin-left:8px;
margin-top:-4px;
}


#matches .no-match {
margin:32px 0 0 0px;
font-style:italic;
}

#matches .content {
margin:10px 0 0 -10px;
}

#matches .inner {
clear:both;
}

#matches-waiting {
width:760px;
clear:both;

height:20px;
font-style:italic;
margin-left:5px;
padding-top:20px;
font-size:14pt;

}

#matches .header a{
color:white;
}



/*
#reveal-btn {
position:absolute;
background:#1fb231;
color:white;
font-weight:bold;
padding:8px;
border-radius:5px;
top:10px;

}
*/
/*
#reveal-btn {
color:white;

position:absolute;
left:77px;
top:16px;
font-size:15pt;
}
*/
#reveal-btn {
color:#ff7800;
position:absolute;
left:68px;
top:12px;
font-size:14pt;
}


.unrevealed {
text-align:center;
position:relative;
color:#ff7800;
font-size:14pt;
}


.unrevealed p {
margin-top:8px;
}



#targets {
clear:both;
display:none;
}

.clearfix {
height:1px;
clear:both;
}


#friends {
clear:both;

}


div.match {
float:left;
width:205px;
height:60px;
margin:6px;
padding:4px;
background:black;
border-radius:4px;

}

.match .name {
color:white;
font-weight:bold;
width:136px;
}


div.target {
float:left;
width:220px;
height:60px;
margin:6px;
padding:4px;
/*
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
*/
background:#ff7800 !important;
background-position: 180px 28px !important;

font-weight:bold;
}

div.target .name {
color:white;
width:150px;
}

div.friend {
float:left;
width:220px;
height:60px;
margin:6px;
padding:4px;
position:relative;
background:black;
color:white;
/*
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
*/
}

div img {
float:left;
margin:5px;
margin-right:9px;


}

.name {
margin-top:5px;
width:150px;
height:51px;
float:left;
color:white;

}



.selected {
background:#ff7800 !important;
background-position: 180px 28px !important;

}

.selected .name {
color:white;
font-weight:bold;
width:150px;

}

.selected img {
/*border:1px solid white;*/
}

/*
.selected .mark{
width:32px;
height:32px;
background: url('../images/fwb-icon.png') no-repeat;
float:right;
margin-top:20px;
}
*/

#invites {
width:960px;
clear:both;
color:white;
height:100px;
border-radius:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
margin-top:40px;
margin-bottom:30px;
position:relative;
}




#invite-btn {
margin-top:-26px;
margin-right:5px;
color:white;
float:right;
background:black;
width:300px;
height:40px;
text-align:center;
padding-top:20px;
font-family: Arial, Helvetica, sans-serif;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #202020;
font-size: 20px;
	
}

#invite-btn:hover {
/*background:#202020;
background:#fc9b00;
background:#ff7800;

border: 1px solid #404040;
*/
	background: -moz-linear-gradient(
		top,
		#000000 0%,
		#050505 45%
		#080808 90%,
		#161616);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#000000),
		color-stop(0.45, #050505),
		color-stop(0.90, #080808),
		to(#161616));

}

.invites-count {
font-size:20pt;
position:absolute;
top:34px;
right:440px;
}

#what-are-invites-link {
position:absolute;
top:45px;
right:100px;
color:#ff7800;
font-size:10pt;
}

#purchase{
position:fixed;
width:640px;
height:166px;
top:50%;
left:50%;
margin-top:-83px;
margin-left:-320px;
z-index:20;

font-size:14pt;
background:white;
display:none;

border: 12px solid rgba(0,0,0,0.3);
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;


font-size:14pt;

     -moz-background-clip: border;     /* Firefox 3.6 */
        -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
        background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: padding;     /* Firefox 3.6 */
        -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
        background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: content;     /* Firefox 3.6 */
        -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
        background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */





}







#purchase .product {

/*
height:60px;
padding:10px;
padding-top:30px;
margin:10px;

border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;

position:relative;
*/
height:60px;
text-align:right;
}

#purchase .product.two {

}

#purchase .product.two .btn-wrapper {

}

#purchase .number {
position:absolute;
top:0;
left:0;
width:24px;
height:24px;
/*
background:#22b24b;
*/
background:#ff7800;
color:white;
font-weight:bold;
text-align:center;
border-bottom-right-radius:5px;
border-top-left-radius: 5px;
display:none;
}



#purchase .descriptions {
float:left;
width:420px;
padding-left:20px;

}

#purchase strong{
color:#ff7800;
margin-right:4px;
}

/*
#purchase .buy-btns {
width:100px;
float:left;
color:#ff7800;
padding-top:20px;
}
*/
#purchase .btn-wrapper {
/*background:#22b24b;*/
background:#ff7800;
height:24px;
width:90px;
padding:10px 20px 10px 20px;
text-align:center;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
float:left;
margin-left:30px;
margin-bottom:30px;
margin-top:-12px;
}

#purchase .btn-wrapper:hover {
background:#fc9b00;
background:#ffbf00;
}

#purchase .buy-btn {
margin-bottom:10px;
color:white;
font-weight:bold;
}


#purchase .or-spacer {
margin-left:14px;
}

#purchase .expiration {
clear:both;
margin-left:30px;
margin-top:30px;
}

#what-are-keys-link{
font-size:10pt;

}


#what-are-keys{
position:fixed;
width:640px;
height:340px;
top:50%;
left:50%;
margin-top:-150px;
margin-left:-300px;
z-index:20;
/*
border-radius:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
*/

background:white;
font-size:14pt;
border: 12px solid rgba(0,0,0,0.3);
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;



 -moz-background-clip: border;     /* Firefox 3.6 */
        -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
        background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: padding;     /* Firefox 3.6 */
        -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
        background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: content;     /* Firefox 3.6 */
        -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
        background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */


}


#what-are-keys-handle {
margin-top:20px;
margin-left:20px;
height:20px;
}

#what-are-keys-content {
margin-left:30px;
width:520px;
}


#what-are-invites{
position:fixed;
width:640px;
height:330px;
top:50%;
left:50%;
margin-top:-150px;
margin-left:-300px;
z-index:20;

/*
border-radius:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
*/
background:white;
font-size:14pt;
border: 12px solid rgba(0,0,0,0.3);
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;



 -moz-background-clip: border;     /* Firefox 3.6 */
        -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
        background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: padding;     /* Firefox 3.6 */
        -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
        background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: content;     /* Firefox 3.6 */
        -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
        background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */


}

#what-are-invites-handle {

margin-left:20px;
margin-top:20px;
}

#what-are-invites-content {

margin-left:30px;

}




#credits a {
color:blue;
}

#credits .picks-count {
font-size:24px;
float:left;
margin: 36px 0 0 20px;
width:320px;
}

#credits .purchase {
float:right;
margin:10px -16px 0 0px;
width:610px;
}

.five, .ten {
float:left;
margin:0;
}
.ten {
margin-left:-10px;
}

.earn-credits {

float:left;
margin-left:-13px;


}


a.purchase {
clear:both;
}


a {
text-decoration:none;
color:black;
}

a.visited {
color:black;
}


.friends-header {
margin:60px 0 46px 5px;
color:white;
}

.friends-header a {
color:white;
}


a.show-all-btn {
color:#ff7800 ;
font-weight:bold;
}

.show-selected-btn {

}

.friends-header .title {
margin-bottom:20px;
}

.friends-warning {
font-style:italic;
margin-left:10px;
margin-bottom:20px;
font-weight:normal;
}


.fb-share2{
float:right;
margin-right:10px;

}

.fb-share2 a {
color:#ff7800;
margin-right:4px;
}


#about {
min-height:412px;
}

.spacer {
height:80px;
clear:both;
}

.spacer-landing {
height:60px;
clear:both;
}

#footer {
clear:both;
background:black;
color:white;
overflow:hidden;
padding:10px;
min-height:50px;
}

#footer .content {
margin: 0 auto 0 auto;
width:960px;
}

#footer .title {

font-weight:bold;
}

#footer ul {
list-style:none;
margin:0 auto 0 auto;
width:600px;

}

#footer li {
float:left;
margin:4px;
}

#footer a {
color:white;
}

#placeholderimage{

position:absolute;
right:0;
display:none;
}
/*
#logo-question {
margin-left:14px;
}
*/

.line-through {
text-decoration:line-through;
color:black;
}



.promo {
text-decoration:none;
color:red;
}



#about p {
line-height:18pt;

}

#tos p, #pp p {
line-height:20pt;
margin:16px 0;
}

#faq p {
margin:10px 0;
}

#faq .separator{
padding:10px 0;
}

#faq .link {
color:#ff7800;
}

#tos li {
line-height:22pt;
margin:10px 0;
}

#tos b {

}

#about .link {
color:#ff7800;
margin-right:3px;
}

#about .two {
margin-left:3px;
}


#curtain {

background:black;
opacity:0.4;

position:fixed;
top:0;
width:100%;
height:100%;
z-index:10;
}

#invite-box {

position:fixed;
width:390px;
height:400px;
background:red;
top:50%;
left:50%;
margin-top:-200px;
margin-left:-200px;
z-index:20;

/*
border-radius:15px;

padding:20px;
*/
background:white;
font-size:14pt;

border: 12px solid rgba(0,0,0,0.3);
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;



 -moz-background-clip: border;     /* Firefox 3.6 */
        -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
        background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: padding;     /* Firefox 3.6 */
        -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
        background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: content;     /* Firefox 3.6 */
        -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
        background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */






}

.handle {
height:40px;
padding-top:20px;
}

.handle .title{

font-weight:bold;
font-size:16pt;
margin-left:10px;

}

#purchase-content {
margin-left:0px;
margin-top:40px;

}

#purchase-handle.handle {

}

#purchase-handle.handle .title{

margin-left:20px;

}

.close-icon {
float:right;
margin-top:-32px;
margin-right:-12px;

}

.popup-content {
clear:both;
margin-top:20px;
margin-left:10px;
}

label {
clear:both;
margin:10px;
}

input {
margin:10px;
}

input#name, input#email {
width:300px;
height:30px;
font-size:14pt;
padding-left:6px;

}

#invite-handle {
margin-left:20px;
margin-top:20px;
}

#invite-content {
margin-left:26px;

}

#invite-content p {
font-size:10pt;
font-style:italic;
margin-left:10px;
width:320px;
}

.actions {
margin-top:20px;
}

#view-sample-email-link {

float:right;
color:#ff7800;
margin-top:18px;
margin-right:6px;
font-size:12pt;
}


input#invite-btn-submit {
padding:6px 10px ;
margin-right:42px;
background:#ff7800;
color:white;
border-radius:5px;
font-size:14pt;
font-weight:bold;
float:right;
border:0;

}

#sample-email {
font-size:12pt;
width:480px;
height:260px;
margin:20px 40px;
}

#sample-email .handle{
margin-left:-12px;
margin-bottom:20px;
}

#view-invite-form-link {

color:#ff7800;
float:right;
margin-top:20px;
font-weight:bold;
}

#sample-email #signature {
color:#ff7800;
}


input#invite-btn-submit:hover {
background:#fc9b00;
}


#sample-email {

display:none;
}


#curtain, #purchase, #invite-box, #what-are-keys, #what-are-invites {
display:none;
}


table#match_notification {
margin:100px;
font-family:arial, sans-serif;
color:black;
padding:100px;
border:1px black;
}


