body {
margin:0;
}

#header{

height:50px;
color:black;
background:#e63028 ;
}

#header a, #header a:visited {
color:black;
}

#account-nav{
width:960px;
height:50px;
margin:0 auto 0 auto;

}

#fwb-word-logo {
float:left;
}

#fwb-logo {
float:left;
margin-top:-2px;
}

#fwb-logo2 {
float:left;
margin-top:-5px;
margin-left: -8px;
}

#share {
padding-top:12px;
padding-left:20px;

}

#fb-like {
float:left

}

#twit-share {
float:left;
}

#fb-login {

float:right;
margin-right:20px;
}

#content {
width:960px;
margin:0 auto 0 auto;
}

.selected {
color:black;
background: url('../images/ons-icon.png') no-repeat;
background-position: 180px 30px;

}

.selected a, .selected a:visited {


}



#matches {
clear:both;
background:#AF4444;
}

#targets {
clear:both;
background:black;
}

.clearfix {
height:1px;
clear:both;
}


#friends {
clear:both;

}


div.match {
float:left;
width:220px;
height:60px;
margin:10px;

}

div.target {
float:left;
width:220px;
height:60px;
margin:10px;
}

div.friend {
float:left;
width:220px;
height:60px;
margin:10px;
position:relative;
}

div img {
float:left;
margin:5px;
}

.name {
margin-top:10px;

float:left;
}


#credits {

clear:both;
}

#credits a {
color:blue;
}

a.purchase {
clear:both;
}


a {
text-decoration:none;
color:black;
}

a.visited {
color:black;
}


.spacer {
height:100px;
clear:both;
}

#footer {
clear:both;
background:#e63028 ;
color:white;
height:100px;

}


