html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, u, i, dl, dt, dd, ol, ul, li, form, tr, th, td, footer, header, menu, nav{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}


body {
margin:0;
font-family:arial, sans-serif;
background:#e63028;
}

#header{

height:52px;
color:black;
background:#e63028 ;
padding-top:4px;

/*margin-bottom:20px;*/
}

#header a, #header a:visited {
color:black;
}

#account-nav{
width:960px;
height:50px;
margin:0 auto 0 auto;

}

#fwb-word-logo {
float:left;
}

#fwb-logo {
float:left;
margin-top:-2px;
}

#fwb-logo2 {
float:left;
margin-top:-5px;
margin-left: -8px;
}

#share {
padding-top:12px;
padding-left:20px;

}

#fb-like {
float:left;

}

#twit-share {
float:left;
}

#fb-login {

float:right;
margin-right:20px;
}

#wrapper {
background:white;
padding-top:20px;
overflow:hidden;
width:100%;
}

#content {
width:960px;
margin:0 auto 0 auto;
background:white;
}

#tagline {
height:60px;
clear:both;
margin:20px auto 10px auto;
width:660px;
font-weight:bold;
font-size:18pt;
}



#landing .content {
clear:both;
width:960px;

}

#landing .img {
float:left;
margin:0 ;

}

#landing img {
margin:0 ;
}

#how-it-works-landing {
width:460px;
float:left;
background:#f7f7f7;
border-radius: 15px;
padding:30px 40px 20px 40px;
margin:16px 0 0 60px;

}

#how-it-works-landing .title {
font-size:18pt;
margin-bottom:20px;
font-weight:bold;
}

#how-it-works-landing ol {
padding:0 0 0 26px;

}

#how-it-works-landing li {
font-size:14pt;
margin-bottom:20px;
}




.selected a, .selected a:visited {


}

#how-it-works {
width:880px;
clear:both;
background:#f2f2f2;
height:140px;
border-radius: 15px;
padding:2px 40px 0 40px;


}

#how-it-works .content {
margin-top:10px;
height:100px;
}

#how-it-works ol {
padding-left: 20px;

}

#how-it-works li {
margin-bottom:2px;
}

#how-it-works .title {
font-weight:bold;
margin-top:20px;
}

#matches {
clear:both;
width:920px;
background:#e63028;
background-position:830px 10px;
border-radius: 15px;
padding:20px 0 30px 40px;
overflow:hidden;
color:white;
min-height:100px;
position:relative;
margin-top:20px;
}

#matches-logo {
position:absolute;
bottom:-10px;
right:10px;
}

#matches .title {
font-size:14pt;
font-weight:bold;
margin-bottom:16px;

}

#matches .no-match {
margin:32px 0 0 10px;
font-style:italic;
}

#matches .content {
margin:10px 0 0 -10px;
}

#targets {
clear:both;
display:none;
}

.clearfix {
height:1px;
clear:both;
}


#friends {
clear:both;

}


div.match {
float:left;
width:220px;
height:60px;
margin:6px;
padding:4px;
background:white;
border-radius:5px;

}



div.target {
float:left;
width:220px;
height:60px;
margin:6px;
padding:4px;
/*background:#f7f7f7;*/
border-radius:5px;
background:#e63028 url('../images/fwb-icon-40.png') no-repeat !important;
background-position: 180px 28px !important;

font-weight:bold;
}

div.target .name {
color:white;
width:100px;
}

div.friend {
float:left;
width:220px;
height:60px;
margin:6px;
padding:4px;
position:relative;
background:#f7f7f7;
border-radius:5px;
}

div img {
float:left;
margin:5px;
margin-right:9px;


}

.name {
margin-top:4px;
width:150px;
height:50px;
float:left;

}



.selected {
background:#e63028 url('../images/fwb-icon-40.png') no-repeat !important;
background-position: 180px 28px !important;

}

.selected .name {
color:white;
font-weight:bold;
width:100px;
}

.selected img {
/*border:1px solid white;*/
}

/*
.selected .mark{
width:32px;
height:32px;
background: url('../images/fwb-icon.png') no-repeat;
float:right;
margin-top:20px;
}
*/

#credits {
width:960px;
clear:both;
background:#f2f2f2;
height:100px;
border-radius: 15px;
margin-top:20px;
}


#credits a {
color:blue;
}

#credits .picks-count {
font-size:24px;
float:left;
margin: 36px 0 0 40px;
width:350px;
}

#credits .purchase {
float:right;
margin:10px 10px 0 0;
width:560px;
}

.5, .10 {
float:left;
}

a.purchase {
clear:both;
}


a {
text-decoration:none;
color:black;
}

a.visited {
color:black;
}


.friends-header {
margin:20px 0 16px 14px;
}

.friends-header .title {
font-weight:bold;
}
.show-all-btn {
color:#e63028;

}

.show-selected-btn {

}

.spacer {
height:20px;
clear:both;
}

#footer {
clear:both;
background:#e63028 ;
color:white;
overflow:auto;
padding:10px;
min-height:50px;
}

#footer .content {
margin: 0 auto 0 auto;
width:960px;
}

#footer .title {

font-weight:bold;
}

#footer ul {
list-style:none;
margin:0 auto 0 auto;
width:500px;

}

#footer li {
float:left;
margin:4px;
}

#footer a {
color:white;
}

