<div id="account-nav">  
<%= image_tag 'fwb-word-logo.png', :id => 'fwb-word-logo'%>
<%= image_tag 'fwb-logo.png', :height => 50, :id => 'fwb-logo'%> 
<% image_tag 'fwb-logo.png', :id => 'fwb-logo2'%>

<div id='share'>
<div id='fb-like'>
<fb:like href="one.com" layout="button_count" show_faces="true" ></fb:like>
</div>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
<div id='twit-share'>
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://one.com" data-text="Check out the new facebook app: One Night Stand Notifier" data-count="none" data-via="onsnotifier">Tweet</a>
</a>
</div>
</div>

<div id='fb-login'>
	<fb:login-button perms="email, user_birthday, offline_access" autologoutlink="true" ></fb:login-button>
</div>

</div>  
