<div id="account-nav">  
<% logo1 = image_tag 'fwb-word-logo.png', :id => 'fwb-word-logo'%>
<% logo2 = image_tag 'fwb-logo.png', :height => 50, :id => 'fwb-logo'%> 
<%= link_to logo1+logo2, root_url %>

<% image_tag 'fwb-logo.png', :id => 'fwb-logo2'%>

<div id='share'>

<% fb_share = image_tag 'fb-share.png', :width => '100' %> 

<span class='fb-share'><a href='http://www.facebook.com/dialog/feed?app_id=202763786417566&link=http://friends-with-benefits.me&picture=http://friends-with-benefits.me/images/fwb-icon.png&name=Friends%20with%20Benefits&caption=Friends-with-Benefits.me&description=Find%20out%20which%20of%20your%20friends%20wants%20you%20to%20be%20more%20than%20just%20a%20friend!&redirect_uri=http://friends-with-benefits.me'><%=fb_share%></a></span>


<div id='fb-like'>
<fb:like href="http://www.facebook.com/pages/Friends-with-Benefits/198531800170983" layout="button_count" show_faces="true" ></fb:like>
</div>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
<div id='twit-share'>
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://friends-with-benefits.me" data-text="This new facebook app let's you find out if your friend wants to be more than just a friend." data-count="none" data-via="FwB_app">Tweet</a>
</a>
</div>

</div>

<div id='fb-login'>
	<fb:login-button perms="email" autologoutlink="true" ></fb:login-button>
</div>

</div>  
