<div id="account-nav">  
<% logo = image_tag 'long-logo.png', :id => 'fwb-word-logo', :height=>'40'%>

<%= link_to logo, root_url %>


<div id='share'>

<% fb_share = image_tag 'fb-share.png' %> 

<span class='fb-share'><a href='http://www.facebook.com/dialog/feed?app_id=202763786417566&link=http://fwb-game.com&picture=http://fwb-game.com/images/icon.png&name=The%20Friends%20with%20Benefits%20Game&caption=FWB-Game.com&description=Some%20friends%20are%20more%20than%20just%20friends.%20Play%20the%20Friends%20with%20Benefits%20Game%20to%20find%20out%20who%20they%20are.&redirect_uri=http://fwb-game.com'><%=fb_share%></a></span>


<div id='fb-like'>
<fb:like href="http://www.facebook.com/pages/The-Friends-with-Benefits-Game/198531800170983" layout="button_count" show_faces="true" ></fb:like>
</div>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
<div id='twit-share'>
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://fwb-game.com" data-text="Check out this new Friends with Benefits Facebook game!" data-count="none" data-via="FWB_Game">Tweet</a>
</a>
</div>

</div>

<div id='fb-login'>
	<fb:login-button perms="email" autologoutlink="true" ></fb:login-button>
</div>

</div>  
