<div id="fb-root"><script src="http://connect.facebook.net/en_US/all.js"></script></div>
<%= javascript_include_tag 'helper' %>
<%= javascript_include_tag 'jquery.form' %>

<script>
	$(document).ready(function () {

		function minusInvite () {
			invites_left = parseInt($('.invites-left').html());
			if (invites_left != 0) {

				invites_left = invites_left - 1;

				if (invites_left == 1) {
		      			 $('.invites-left').html("1 invite");	
		       		} else {
					$('.invites-left').html(invites_left + " invites");

	       			}
			}
		}

		function addTarget(element){

			var objJSON_info={"id" : element.attr("id"), "name" : element.attr("name")}; 

			$.ajax({
				type: 'POST',
				url: '/targets',
				data: objJSON_info,
				success: function(data){
					
					objJSON = JSON.parse(data);					
					switch(objJSON.statusText) {

/*						
						case 'matched':

							// if parent div has element div.no-match
							// element.remove
							$('div.no-match').remove();


							element.parent().addClass("selected");
							id = element.attr("id");
							var divMatch = document.createElement("div");
							divMatch.className = 'match';
							divMatch.innerHTML="<a class='match "+id+"' id='"+id+"' href='javascript;'><img src='http://graph.facebook.com/"+id+"/picture'><span class='name'>"+element.attr("name")+"</span></a>";

							$("#matches .content").append(divMatch);
				
							alert('Congratulations!! We have a match!');						
				
							$.ajax({
								type: 'GET',
								url: objJSON.uri_1,
								dataType: "script"	
							});

							$.ajax({
								type: 'GET',
								url: objJSON.uri_2,
								dataType: "script"	
							});

							break;
*/

						case 'target_added':				
							element.parent().addClass("selected");
							id = element.attr("id");
							var divTarget = document.createElement("div");
							divTarget.className = 'target';
							divTarget.innerHTML="<a class='target "+id+"' id='"+id+"' href='#'><img src='http://graph.facebook.com/"+id+"/picture'><span class='name'>"+element.attr("name")+"</span></a>";
							$("#targets").append(divTarget);
							 	
							break;

/*
						case 'no_credits':
							alert('You\'re out of Picks!');
							break;
*/

						case 'fail_duplicated_target':
							//alert("Already targeted");
							break;


						case 'fail_create_target':
							alert("Failed to process request, please try again.");
							break;


						case 'fail_create_match':
							alert("Failed to process request, please try again.");
							break;


						default:

							alert("Failed to process request, please try again.");
			
					}
				},
				error: function() {
						alert("Failed to process request, please try again.");
				}
		
			});
	
		}


		// Add Target
		$('a.friend').live('click', function(e){
			e.preventDefault();
			if (!($(this).parent().hasClass('selected'))) {
				if (confirm("Would you like to pick this friend?")){
					addTarget($(this));
				}
			}
		});


		// User clicks on a match
		$('a.match').live('click', function(e) {
			e.preventDefault();
		});



		FB.getLoginStatus(function(response) {

			if (response.session) {

				FB.api('/me', function(user) {
					if(user != null) {

						$.ajax({
							type: 'POST',
							url: '/sign_in',
							data: response
						});
					}
				});   	

				$('#matches .content').load('targets/get_matches');
				$('#targets').load('targets/get_targets');

				FB.api('/me/friends', function(friends_obj) {
					if(friends_obj != null) {

							var divFriends = document.getElementById("friends");
						
							var friends = friends_obj.data;
							friends.sort(sort_by('name', false));
							
//							for (var i=0; i < friends.length; i++)
							for (var i=0; i < 10; i++)

							{
							
								var divFriend = document.createElement("div");
								divFriend.className = 'friend';
								divFriend.innerHTML="<a class='friend " + friends[i].id+"' id='"+friends[i].id+"' name='"+friends[i].name+"' href='javascript;'><img src='http://graph.facebook.com/"+friends[i].id+"/picture'></img><div class='name'>"+friends[i].name+"</div></a>";

								divFriends.appendChild(divFriend);

							}
				
						$('.highlight').load('targets/highlight');

						}

					}); 

			} else {
				//$.load("/sign_out");
			}

		});


		FB.Event.subscribe('auth.login', function(response) {

			if (response) {
	
				FB.api('/me', function(user) {
					if(user != null) {

						$.ajax({
							type: 'POST',
							url: '/sign_in',
							data: { session:response.session, user:user},
							success: function() {
								window.location.href=window.location.href;
								} ,
							error:  function() {
								alert('Failed to process request, please try again.');
							} 
						});
					}
				});   	
			}

		});


		FB.Event.subscribe('auth.logout', function(response) {
  		if (response){
				window.location.href=window.location.href;				
			}
		});

		$('#curtain').live('click', function(e) {
			$('#purchase').hide();
			$('#invite-form').hide();
			$('#what-are-keys').hide();
			$('#what-are-invites').hide();	
			$('#curtain').hide();
		});

		// Purchase
		$('#purchase').hide();

		$('#purchase-link').live('click', function(e) {
			$('#purchase').show();
			$('#curtain').show();
			e.preventDefault();
		});

		$('#purchase-close').live('click',function(e) {
			$('#purchase').hide();
			$('#curtain').hide();
			e.preventDefault();
		});
		// End


		// Invitation form functions
		$('#invite-form').hide();
		$('#curtain').hide();

		$('#invite-btn').live('click', function(e) {
			invites_left = parseInt($('.invites-left').html());
			if (invites_left > 0) {
				$('#invite-form').show();
				$('#curtain').show();
				e.preventDefault();
			} else {
				alert("You're out of invites!");
			}
		});

		$('#invite-close').live('click',function(e) {
			$('#invite-form').hide();
			$('#curtain').hide();
			e.preventDefault();
		});

		$('#invite-content').ajaxForm({
			target: '#invite-btn-submit',
			success: function(){
				$('#invite-form').hide();
				$('#curtain').hide();
				minusInvite();
			},
			error: function(){
				alert("Failed to process request, please try again.");
			}
		});
		// End invitation form functions	


		// What are keys
		$('#what-are-keys').hide();

		$('#what-are-keys-link').live('click', function(e) {
			$('#what-are-keys').show();
			$('#curtain').show();
			e.preventDefault();
		});

		$('#what-are-keys-close').live('click',function(e) {
			$('#what-are-keys').hide();
			$('#curtain').hide();
			e.preventDefault();
		});
		// End


		// What are invites
		$('#what-are-invites').hide();

		$('#what-are-invites-link').live('click', function(e) {
			$('#what-are-invites').show();
			$('#curtain').show();
			e.preventDefault();
		});

		$('#what-are-invites-close').live('click',function(e) {
			$('#what-are-invites').hide();
			$('#curtain').hide();
			e.preventDefault();
		});
		// End


		$('.show-selected-btn').live('click', function(e) {
			$(this).css({'color':'#e63028', 'font-weight': 'bold'});
			$('.show-all-btn').css({'color': 'black', 'font-weight': 'normal'});
			$('#targets').show();
			$('#friends').hide();
			e.preventDefault();
		});


		$('.show-all-btn').live('click', function(e) {
			$(this).css({'color':'#e63028' , 'font-weight': 'bold'});
			$('.show-selected-btn').css({'color': 'black', 'font-weight': 'normal'});
			$('#friends').show();
			$('#targets').hide();
			e.preventDefault();
		});

	});

</script>
