<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<%= javascript_include_tag 'facebook-init' %>

<script>

function logout(){
	
	FB.logout(function() {
	window.location="/sign_out";

	});
};





/*
$('.result').ajaxSuccess(function () {

	$(this).html('yo?');


});

*/
$(document).ready(function () {



FB.getLoginStatus(function(response) {
  if (response.session) {

$('#matches').load('targets/get_matches');
$('#targets').load('targets/get_targets');


//$('.result').load('targets/get', function(response) {
//  alert(response);
//});

/*
	$.ajax({
		type: 'GET',
		url: '/targets/get'
		
		
	});
*/


/*
	alert(escape(<%= @yo %>));


var liElement = document.createElement("li");
						liElement.innerHTML="<a class='selected friend' id='"+data[i].id+"' name='"+data[i].name+"' href='#'><img src='http://graph.facebook.com/"+data[i].id+"/picture'></img>"+data[i].name+"</a>";

*/


	FB.api('/me/friends', function(friends_obj) {
				if(friends_obj != null) {

					//document.getElementById('friends-list-container').innerHTML = JSON.stringify(friends);
					var divFriends = document.getElementById("friends");
					var friends = friends_obj.data;
					var friends = friends.sort(function(a,b) { return a.name > b.name } );
				

					for (var i=0; i < friends.length; i++)
					{
/*					
						var element = document.createElement("a");
						element.addClass(function() {
							return 'friend ' + friends[i].id; 
						});
						element.attr('id', friends[i].id);
						element.attr('name', friends[i].name);
						
						element.html('yo');
						divFriends.appendChild(element);						
*/
							
						var divFriend = document.createElement("div");
						divFriend.className = 'friend';
						divFriend.innerHTML="<a class='friend " + friends[i].id+"' id='"+friends[i].id+"' name='"+friends[i].name+"' href='#'><img src='http://graph.facebook.com/"+friends[i].id+"/picture'></img><span class='name'>"+friends[i].name+"</span></a>";

						divFriends.appendChild(divFriend);


					}
				
				$('.highlight').load('targets/highlight');
				}
			}); 
	
	}
/*
	$.ajax({
		type: 'GET',
		url: '/targets/highlight'
		success: 		
		
	});
*/

//setTimeout(function(){
 
//},3000);
});


$('a.target').live('click', function(e) {

	var objJSON={"id" : $(this).attr("id")}; 
	removeTarget(objJSON);
	$(this).remove();
	id = $(this).attr("id");
	elem = 'a.friend.'+id;	
	$(elem).removeClass('selected');

e.preventDefault();
});


function removeTarget(obj){

	$.ajax({
		type: 'POST',
		url: '/targets/destroy',
		data: obj
	});
	
}


$('a.friend').live('click', function(e){

	if ($(this).hasClass('selected')) {
		alert('Already stalking');
	} else {
		//$(this).parent().hide();
		//alert($(this).attr("name"));
		var objJSON={"id" : $(this).attr("id"), "name" : $(this).attr("name")}; 
		addTarget(objJSON, $(this));
		e.preventDefault();
	}
});

/*
	var objJSON2={"fb_id" : "565445939"}; 
	$.ajax({
		type: 'POST',
		url: '/testes',
		data: objJSON2,
		success: function(data){
			addTargets(data);
		},
		error: function(data){
			alert(JSON.stringify(data));
		}
	});

function addTargets(id){
	var divTarget=document.getElementById("targets");
	var liElement = document.createElement("li");
	liElement.innerHTML="<a class='target' fb_id='"+id+"' name='BLANK' href='#'><img src='http://graph.facebook.com/"+id+"/picture'></img>BLANK</a>";
	divTarget.appendChild(liElement);
};

*/

function addTarget(obj,element){

	$.ajax({
		type: 'POST',
		url: '/targets',
		data: obj,
		success: function(data){
				
				switch(data) {
				
				case 'matched':
					element.parent().addClass("selected");
					id = element.attr("id");
					var divMatch = document.createElement("div");
					divMatch.className = 'match';
					divMatch.innerHTML="<a class='match "+id+"' id='"+id+"' href='#'><img src='http://graph.facebook.com/"+id+"/picture'><span class='name'>"+element.attr("name")+"</span></a>";
	
					$("#matches").append(divMatch);
					
					alert('We have a match!');						
					break;

				case 'target_added':				
					element.parent().addClass("selected");
					id = element.attr("id");
					var divTarget = document.createElement("div");
					divTarget.className = 'target';
					divTarget.innerHTML="<a class='target "+id+"' id='"+id+"' href='#'><img src='http://graph.facebook.com/"+id+"/picture'><span class='name'>"+element.attr("name")+"</span></a>";
					$("#targets").append(divTarget);
					break;


				case 'no_credits':
					alert('Not enough credits. \nPlease purchase more using the link above.');

					break;
				default:

					alert("Please email the administrator.");
				
				}
			},
		error: function() {
				alert("Failed to add. Please email the administrator.");
			}
		
	});
	
}

FB.Event.subscribe('auth.login', function() {

	FB.api('/me', function(user) {
		if(user != null) {
			/*	   	alert(concatObject(user));*/
			window.location="/sign_in?hunter_id="+user.id+"&email="+ user.email+"&first_name="+user.first_name+"&last_name="+user.last_name+"&gender="+user.gender+"&dob="+user.birthday
		}
	});   


});



});

</script>


