<div id="fb-root"><script src="http://connect.facebook.net/en_US/all.js"></script></div>
<%= javascript_include_tag 'helper' %>

<script>
/*
	function logout(){
	
		FB.logout(function() {
		window.location="/sign_out";
	
});
};
*/
	$(document).ready(function () {

		function removeTarget(element){

			var objJSON_info={"id" : element.attr("id")}; 

			$.ajax({
				type: 'POST',
				url: '/targets/destroy',
				data: objJSON_info,
				success: function(data){
					id = element.attr("id");			
					element.remove();
					elem = 'a.friend.'+id;	
					$(elem).parent().removeClass('selected');
				},
				error: function(){
					alert("ERROR: Failed to remove!");
				}
			});
	
		}

		function addTarget(element){

			var objJSON_info={"id" : element.attr("id"), "name" : element.attr("name")}; 

			$.ajax({
				type: 'POST',
				url: '/targets',
				data: objJSON_info,
				success: function(data){
					objJSON = JSON.parse(data);

					switch(objJSON.statusText) {
			
						case 'matched':
							element.parent().addClass("selected");
							id = element.attr("id");
							var divMatch = document.createElement("div");
							divMatch.className = 'match';
							divMatch.innerHTML="<a class='match "+id+"' id='"+id+"' href='javascript;'><img src='http://graph.facebook.com/"+id+"/picture'><span class='name'>"+element.attr("name")+"</span></a>";

							$("#matches").append(divMatch);
				
							alert('Congratulations!! We have a match!');						
				
							$.ajax({
								type: 'GET',
								url: objJSON.uri_1,
								dataType: "script"	
							});

							$.ajax({
								type: 'GET',
								url: objJSON.uri_2,
								dataType: "script"	
							});

							break;


						case 'target_added':				
							element.parent().addClass("selected");
							id = element.attr("id");
							var divTarget = document.createElement("div");
							divTarget.className = 'target';
							divTarget.innerHTML="<a class='target "+id+"' id='"+id+"' href='#'><img src='http://graph.facebook.com/"+id+"/picture'><span class='name'>"+element.attr("name")+"</span></a>";
							$("#targets").append(divTarget);
							 	
							break;


						case 'no_credits':
							alert('Get more credits to use the One Night Stand Notifier!');
							break;


						case 'fail_duplicated_target':
							//alert("Already targeted");
							break;


						case 'fail_create_target':
							alert("ERROR: An error has occurred! (#21322)");
							break;


						case 'fail_create_match':
							alert("ERROR: An error has occurred! (#21323)");
							break;


						default:

							alert("ERROR: An error has occurred! (#35635)");
			
					}
				},
				error: function() {
						alert("ERROR: An error has occurred! (#65233)");
				}
		
			});
	
		}

		// Remove Target
		$('a.target').live('click', function(e) {

			//if (FB.getSession() != null){
			removeTarget($(this));
			//}
			e.preventDefault();
		});

		// Add Target
		$('a.friend').live('click', function(e){
			//if (FB.getSession() != null){
				if (!($(this).parent().hasClass('selected'))) {
					addTarget($(this));
				}
			//}
			e.preventDefault();
		});

		// User clicks on a match
		$('a.match').live('click', function(e) {
			e.preventDefault();
		});

		FB.getLoginStatus(function(response) {

			if (response.session) {

				FB.api('/me', function(user) {
					if(user != null) {

						$.ajax({
							type: 'POST',
							url: '/sign_in',
							data: response
						});
					}
				});   	

				$('#matches').load('targets/get_matches');
				$('#targets').load('targets/get_targets');


				FB.api('/me/friends', function(friends_obj) {
					if(friends_obj != null) {

							var divFriends = document.getElementById("friends");
							var friends = friends_obj.data;
							friends.sort(sort_by('name', false));

							for (var i=0; i < friends.length; i++)
							{
							
								var divFriend = document.createElement("div");
								divFriend.className = 'friend';
								divFriend.innerHTML="<a class='friend " + friends[i].id+"' id='"+friends[i].id+"' name='"+friends[i].name+"' href='javascript;'><img src='http://graph.facebook.com/"+friends[i].id+"/picture'></img><div class='name'>"+friends[i].name+"<span class='mark'></div></span></a>";

								divFriends.appendChild(divFriend);

							}
				
						$('.highlight').load('targets/highlight');
						}
					}); 
	
			} else {
				//$.load("/sign_out");
			}

		});


		FB.Event.subscribe('auth.login', function(response) {
			if (response) {
	
				FB.api('/me', function(user) {
					if(user != null) {

						$.ajax({
							type: 'POST',
							url: '/sign_in',
							data: { session:response.session, user:user},
							success: function() {
								location.reload();
								} ,
							error:  function() {
								alert('There\'s an error signing in');
							} 
						});
					}
				});   	
			}
		});


		FB.Event.subscribe('auth.logout', function(response) {
  		if (response){
				location.reload();				
			}
		});

		
	});


</script>


