<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<%= javascript_include_tag 'facebook-init' %>
<script>
function concatObject(obj) {
  str='';
  for(prop in obj)
  {
    str+=prop + " value :"+ obj[prop]+"\n";
  }
  return(str);
}
	/*
	FB.api('/me', function(user) {
		if(user != null) {
			alert(concatObject(user))
             /* var image = document.getElementById('image');
              image.src = 'http://graph.facebook.com/' + user.id + '/picture';
              var name = document.getElementById('name');
              name.innerHTML = user.name
           }
	   });   
	   */
/*
function SendRequest(){
	new Ajax.Request("/testes", {
	method: "post",
	parameters: "friends=" + objJSON,
	onComplete: Respond
});
}
*/

function SendRequest(){
FB.api('/me/friends', function(friends) {
		if(friends != null) {

$.ajax({
  type: 'POST',
  url: '/testes'	});


	 }
	  }); 

}

	FB.getLoginStatus(function(response) {
	  if (response.session) {
	
FB.api('/me/friends', function(friends) {
		if(friends != null) {
/*				   	alert(concatObject(friends.data));
    window.location="/?object="+friends 
var xmlhttp;
		   xmlhttp = new XMLHttpRequest();
		   params = friends 
		  
		   xmlhttp.open("POST", "/", true);
		   xmlhttp.send(params);
*/

/*
document.getElementById('friends-list-container').innerHTML = JSON.stringify(friends);
    */
/*
	var divTarget=document.getElementById("friends-list-container");
	var data=friends.data;
	//alert("divTarget="+divTarget+"\ndata="+data);
	for (var friendIndex=0; friendIndex<data.length; friendIndex++)
	{
		var divContainer = document.createElement("div");
divContainer.innerHTML="<hr><img src='http://graph.facebook.com/"+data[friendIndex].id+"/picture'></img>"+
				"<br>"+data[friendIndex].name;
		divTarget.appendChild(divContainer);
	}
*/

$.ajax({
  type: 'POST',
  url: '/',
  data: friends,
});


/*
 		   var xmlhttp;

		   xmlhttp = new XMLHttpRequest();
		   params = friends
		  
		   xmlhttp.open("POST", "/", true);
		   xmlhttp.send(friends);

*/
	 }
	  }); 

	 
	   
/*
FB.api('/me', function(user) {
		if(user != null) {
				   	alert(concatObject(user.location));
	         
           }
	   });  
*/
	
	/*	   var xmlhttp;
		   xmlhttp = new XMLHttpRequest();
		   params = "hunter_id=" + 
		  
		   xmlhttp.open("GET", "/sessions/create", true);
		   xmlhttp.send();		
	*/
	    /*document.getElementById('namer').innerHTML= "Logged in via Facebook"*/

	  } else {
  		

	    /*document.getElementById('namer').innerHTML= "Not logged in via facebook" */
	  }
	});

	   function logout () {
   	   	window.location="/sign_out";
	        FB.logout();
	   };


	   FB.Event.subscribe('edge.create', function() {



	   });
	   FB.Event.subscribe('edge.remove', function() {
		   
		   var xmlhttp;
		   xmlhttp = new XMLHttpRequest();

		  
		   xmlhttp.open("GET", "/public/unlike_album?id=14", true);
		   xmlhttp.send();

	   });

	   FB.getLoginStatus(function(response) {
	/*	   alert(concatObject(response));
		   	alert(concatObject(response.session));*/
	   });
   	   FB.Event.subscribe('auth.login', function() {


FB.api('/me', function(user) {
		if(user != null) {
			/*	   	alert(concatObject(user));*/
	         window.location="/sign_in?hunter_id="+user.id+"&email="+ user.email+"&first_name="+user.first_name+"&last_name="+user.last_name+"&gender="+user.gender+"&dob="+user.birthday
           }
	   });   



	   });






   


 


 </script>

<html>

<body>
<form>
<input type="button" value="send" onClick="SendRequest()" />
</form>
</body>
</html>

