<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<%= javascript_include_tag 'facebook-init' %>

<script>



function logout () {
	window.location="/sign_out";
  FB.logout();
};




/*
$('.result').ajaxSuccess(function () {

	$(this).html('yo?');


});

*/
$(document).ready(function () {
FB.getLoginStatus(function(response) {
  if (response.session) {

$('.result').load('targets/get');

//$('.result').load('targets/get', function(response) {
//  alert(response);
//});

/*
	$.ajax({
		type: 'GET',
		url: '/targets/get'
		
		
	});
*/


/*
	alert(escape(<%= @yo %>));


var liElement = document.createElement("li");
						liElement.innerHTML="<a class='selected friend' id='"+data[i].id+"' name='"+data[i].name+"' href='#'><img src='http://graph.facebook.com/"+data[i].id+"/picture'></img>"+data[i].name+"</a>";

*/


	FB.api('/me/friends', function(friends) {
				if(friends != null) {

					//document.getElementById('friends-list-container').innerHTML = JSON.stringify(friends);
					var divTarget=document.getElementById("friends");
					var data=friends.data;

					for (var i=0; i<data.length; i++)
					{
						var liElement = document.createElement("li");
						liElement.innerHTML="<a class='friend " +data[i].id+"' id='"+data[i].id+"' name='"+data[i].name+"' href='#'><img src='http://graph.facebook.com/"+data[i].id+"/picture'></img>"+data[i].name+"</a>";

						divTarget.appendChild(liElement);
					}
				
				$('.highlight').load('targets/highlight');
				}
			}); 
	
	}
/*
	$.ajax({
		type: 'GET',
		url: '/targets/highlight'
		success: 		
		
	});
*/

//setTimeout(function(){
 
//},3000);
});


$('a.target').live('click', function(e) {

	var objJSON={"id" : $(this).attr("id")}; 
	removeTarget(objJSON);
	$(this).remove();
	id = $(this).attr("id");
	elem = 'a.friend.'+id;	
	$(elem).removeClass('selected');

e.preventDefault();
});


function removeTarget(obj){

	$.ajax({
		type: 'POST',
		url: '/targets/destroy',
		data: obj
	});
	
}


$('a.friend').live('click', function(e){

	if ($(this).hasClass('selected')) {
		alert('Already stalking');
	} else {
		//$(this).parent().hide();
		//alert($(this).attr("name"));
		var objJSON={"id" : $(this).attr("id")}; 
		addTarget(objJSON, $(this));
		e.preventDefault();
	}
});


function addTarget(obj,element){

	$.ajax({
		type: 'POST',
		url: '/targets',
		data: obj,
		success: function(){
				element.addClass("selected");
				id = element.attr("id");
				var liElement = document.createElement("li");
				liElement.innerHTML="<a class='target "+id+"' id='"+id+"' href='#'><img src='http://graph.facebook.com/"+id+"/picture'></a>";
				$(".result").append(liElement);
			},
		error: function() {
				alert('Not enough credits');
			}
		
	});
	
}



});

</script>


