<div id='content'>
<div id='about'>
<h3>About</h3>
<br/>
<p>Ever wanted more from a friend, but felt that you're not quite ready to get too emotionally involved in a serious relationship?</p>
<br/>
<p>Ever wanted to tell them how you feel, but then you're not quite sure how to put it in words, or that you don't have the guts to say it out in fear of getting turned down?</p>
<br/>
<p>Stress no more, Friends-with-Benefits.me is here.</p>
<br/>
<p>Secretly pick friends whom you'd like to be more than just friends with and wait for them to pick you back.</p>
<br/>
<p>If they do - you'll both get notified, and you guys can take the relationship to the next level.</p>
<br/>
<p>If they don't - no big deal. &nbsp;No rejections. &nbsp;No embarassments. &nbsp;No harm done. &nbsp;They don't even know you picked them.</p>
<br/>
<p><%= link_to 'Try it out', root_url, :class=>'link one'%> and <a class='link two' href='http://www.facebook.com/dialog/feed?app_id=202763786417566&link=http://friends-with-benefits.me&picture=http://friends-with-benefits.me/images/fwb-icon.png&name=Friends%20with%20Benefits&caption=Friends-with-Benefits.me&description=Find%20out%20which%20of%20your%20friends%20want%20you%20to%20be%20more%20than%20just%20their%20friends!&redirect_uri=http://friends-with-benefits.me'>tell your friends</a> about it!</p>
</div>
</div>
<div class='spacer'></div>
