<% content_for :header do %>
	<div id='header'>
		<%= render 'shared/account_nav' %>
	</div>
<% end %>



<div id='disclaimer'>

<div class='separator'>

Fwb-game.com is not associated with Sony Pictures Digital Inc. nor the movie "Friends with Benefits" produced by Sony Pictures Digital Inc. 


</div>

</div>
<br/>

