<div id='content'>

<div id='faq'>

<div class='separator'>
<b>How does it work?</b>
<ol>
<li>Pick friends in your network whom you'd be interested in being 'friends with benefits' with.</li>
<li>If a friend picks you back, we will send you both a notification email. Otherwise, your picks will never be revealed.</li>
</ol>
</div>

<div class='separator'>
<b>How do I pick a friend?</b>
<ol>
<li>Click on your friend you'd like to pick.</li>
<li>Confirm.</li>
</ol>
</div>

<div class='separator'>
<b>Why does it say "You don't have any Friends with Benefits yet" in the "My Friends with Benefits" section?</b>
<p>Your friend will only show up in the "My Friends with Benefits" section if you have both picked each other as Friends with Benefits. So it's either:</p>
<ul>
<li>your friend does not feel the same about you, or</li>
<li>your friend has not used the app yet, in which case you can try to get them to use it by <a class='link two' href='http://www.facebook.com/dialog/feed?app_id=202763786417566&link=http://friends-with-benefits.me&picture=http://friends-with-benefits.me/images/fwb-icon.png&name=Friends%20with%20Benefits&caption=Friends-with-Benefits.me&description=Find%20out%20which%20of%20your%20friends%20want%20you%20as20more%20than%20just%20friends!&redirect_uri=http://friends-with-benefits.me'>sharing</a> it on your wall, or just telling them about it directly.</li>
</ul>
</div>

<div class='separator'>
<b>Is my friend going to know that I've picked him/her?</b>
<p>Your friend will NOT know that you've picked him/her unless he/she picks you back.  In which case, we will send you both a notification email.</p>
</div>

<div class='separator'>
<b>What is going to happen next?</b>
<p>That is beyond the value proposition of our service.</p>  
</div>

<div class='separator'>
<b>How do I get more Picks?</b>
<p>Click on one of the green "Get Picks" buttons. You will be redirected to Facebook to complete the transaction. (We currently only accept Facebook Credits as payment method.)</p>
</div>

<div class='separator'>
<b>What is the difference between the two "Get Picks" buttons?</b>
<p>We currently have two options for you to get more Picks:</p>
<ol>
<li>The green button on the left lets you get 5 Picks with 50 Facebook Credits,</li>
<li>For 100 Facebook Credits, we will give you 5 extra Picks for free, for a total of 15 Picks. Click on the green button on the right to get this offer.</li>
</ol>
</div>

<div class='separator'>
<b>How can I remove a friend that I've picked?</b>
<ol>
<li>Click on the 'Show: Picks' link.</li>
<li>Click on the friend whom you'd like to remove.</li>
<li>Confirm. (Note: You will no longer receive notifications from this friend once he/she is removed, even if he/she picks you back in the future.)</li>
</ol>
</div>

<div class='separator'>
<b>How do I report a bug?</b>
<p>Please use the red feedback button on the left of the screen or email us at hello [at] friends-with-benefits [dot] me.</p>
</div>

<div class='separator'>
<b>How do I make a suggestion?</b>
<p>Please use the red feedback button on the left of the screen or email us at hello [at] friends-with-benefits [dot] me.</p>
</div>

</div>
<br/>
</div>
