<% content_for :header do %>
	<div id='header'>
		<%= render 'shared/account_nav' %>
	</div>
<% end %>


<div id='faq'>

<div class='separator'>
<b>How does it work?</b>
	<ol>
		<li>Pick friends you'd like to be FWB with - in secret.</li>
		<li>Send them 'Anonymous Invites' to get them to join the game. </li>
		<li>If any of them picks you back, you'll be notified.</li>
		<li>Use Keys to reveal their identities and take the relationships to the next level.</li>
	</ol>
</div>

<div class='separator'>
<b>Will my friends know that I've picked them as my "FWBs"?</b>
<p>No, your friends will not know that you picked them.  Picks are only visible to you, unless they pick you back - in which case you both have the option to reveal each others' identities.</p>
</div>  

<div class='separator'>
<b>What are Keys?</b>
<p>Whenever we find a match for you (i.e. you and your friend both picked each other as FWBs), your friend is placed in the 'Your Friends with Benefits' box.</p>
<p>To reveal them, simply purchase Keys to unlock their identities.</p>
</div>

<div class='separator'>
<b>What does the number next to the Key Icon mean?</b>
<p>That number tells you the number of Keys you have left. Every FWB reveal will subtract 1 from the Key count. Keys will automatically be used to unlock FWBs that we've matched you with.  </p>
</div>

<div class='separator'>
<b>Why do you need to collect my email address?</b>
<p>We use it to notify you when we've matched you with a FWB. We will never spam or share your email address. </p>
</div>

<div class='separator'>
<b>What are anonymous invites?</b>
<p>The more of your friends play fwb-game.com, the higher the chance you get picked.</p>
<p>Anonymous invites give you the opportunity to invite your friends to play the game without exposing your identity.</p>
</div>

<div class='separator'>
<b>How do I report bugs or make suggestions?</b>
<p>Please direct all inquires, concerns and suggestions to hello [at] fwb-game [dot] com. </p>
</div>


</div>
<br/>

