<div id='content'>

<div id='faq'>

<div class='separator'>
<b>How does it work?</b>
<ol>
<li>Log in with Facebook.</li>
<li>Pick friends in your network whom you'd be interested in being 'friends with benefits' with.</li>
<li>If your friends pick you back, they will be placed in the "Your Friends with Benefits" section.</li>
<li>Use Keys to unlock their identities and take your relationships to the next level.</li>
</ol>
</div>

<div class='separator'>
<b>Will my friends know that I've picked them as my "Friends with Benefits"?</b>
<p>No, your friends will NOT know that you've picked them.  You identity will only be revealed to your friends when they also picked you as their "Friend with Benefits".</p>
</div>

<div class='separator'>
<b>Why do you need to collect my email address?</b>
<p>We need your email address to send you email notifications only. We will never spam or share your email address. (<%=link_to "Privacy Policy", pp_path%>)</p>
</div>

<div class='separator'>
<b>Why does it ask to 'access my data anytime' when I connect with Facebook?</b>
<p>We are using Facebook's 'Send Email Notifications' API to send emails, which requires offline access; otherwise, we won't be able to send you emails notifications when we match you up with your friends when you're offline.  We do not use that data for any other purposes, and we will not send you stuff that you don't want.</p>
</div>

<div class='separator'>
<b>How do I report a bug?</b>
<p>Please use the red feedback button on the left of the screen or email us at hello [at] friends-with-benefits [dot] me.</p>
</div>

<div class='separator'>
<b>How do I make a suggestion?</b>
<p>Please use the red feedback button on the left of the screen or email us at hello [at] friends-with-benefits [dot] me.</p>
</div>

</div>
<br/>
</div>
