<div id='content'>
<div id='pp'>
<h3>Privacy Policy for Friends-with-Benefits.me </h3>

<b>'Friends-With-Benefits.me' (hereafter 'Friends With Benefits') respects your privacy</b>
<p>Any personal information you provide to us including and similar to your name, address, telephone number and e-mail address will not be released, sold, or rented to any entities or individuals outside of Friends with Benefits.</p>
<br/>

<b>Use of information</b>
<p>Friends with Benefits asks from facebook for your basic profile information along with your email and access to your data when you're offline.  The information that gets recorded in the database includes your facebook id, first name, last name, email, gender, and your facebook access token (used for sending you the notification when Friends with Benefits have matched you with another person).  Permission to access your data offline is required only for the purpose of sending you these emails via facebook's mail server at the times when matches occur, it will not be abused for spam or any other purposes. </p>
<br/>

<b>Credit card details</b>
<p>Friends with Benefits uses Facebook Credits as the currency for all purchasings made on the site.  All credit card details will be entered through the Facebook Credits Service.  Your credit card details will never be exposed to Friends with Benefits.</p>
<br/>

<b>External Sites</b>
<p>Friends with Benefits is not responsible for the content of external internet sites. You are advised to read the privacy policy of external sites before disclosing any personal information.</p>
<br/>

<b>Cookies </b>
<p>A "cookie" is a small data text file that is placed in your browser and allows Friends with Benefits to recognize you each time you visit this site(customisation etc). Cookies themselves do not contain any personal information, and Friends with Benefits does not use cookies to collect personal information. Cookies may also be used by 3rd party content providers such as newsfeeds.</p>
<br/>

<b>Remember The Risks Whenever You Use The Internet </b>
<p>While we do our best to protect your personal information, we cannot guarantee the security of any information that you transmit to Friends with Benefits and you are solely responsible for maintaining the secrecy of any passwords or other account information. In addition other Internet sites or services that may be accessible through Friends with Benefits have separate data and privacy practices independent of us, and therefore we disclaim any responsibility or liability for their policies or actions. </p>
<br/>

<p>Please contact those vendors and others directly if you have any questions about their privacy policies.</p>
<br/>

<p>For all other information email us at hello [at] friends-with-benefits [dot] me.</p>
<br/>
</div>
</div>
<div class='spacer'></div>

