<% content_for :header do %>
	<div id='header'>
		<%= render 'shared/account_nav' %>
	</div>
<% end %>

<div id='content'>
<div id='pp'>
<h3>Privacy Policy for Fwb-game.com </h3>

<b>'The Friends With Benefits Game' respects your privacy</b>
<p>Any personal information you provide to us including and similar to your name, address, telephone number and e-mail address will not be released, sold, or rented to any entities or individuals outside of 'The Friends With Benefits Game'.</p>
<br/>

<b>Use of information</b>
<p>'The Friends With Benefits Game' asks from facebook for your basic profile information and your email.  The information that gets recorded in the database includes your facebook id, first name, last name, email and gender.  Email information is used for notifying you when we have matched you with a friend.  It will not be used for spamming. </p>
<br/>

<b>Credit card details</b>
<p>'The Friends With Benefits Game' uses Facebook Credits as the currency for all purchasings made on the site.  All credit card details will be entered through the Facebook Credits Service.  Your credit card information is never exposed to 'The Friends With Benefits Game'.</p>
<br/>

<b>External Sites</b>
<p>'The Friends With Benefits Game' is not responsible for the content of external internet sites. You are advised to read the privacy policy of external sites before disclosing any personal information.</p>
<br/>

<b>Cookies </b>
<p>A "cookie" is a small data text file that is placed in your browser and allows 'The Friends With Benefits Game' to recognize you each time you visit this site(customisation etc). Cookies themselves do not contain any personal information, and 'The Friends With Benefits Game' does not use cookies to collect personal information. Cookies may also be used by 3rd party content providers such as newsfeeds.</p>
<br/>

<b>Remember The Risks Whenever You Use The Internet </b>
<p>While we do our best to protect your personal information, we cannot guarantee the security of any information that you transmit to 'The Friends With Benefits Game' and you are solely responsible for maintaining the secrecy of any passwords or other account information. In addition other Internet sites or services that may be accessible through 'The Friends With Benefits Game' have separate data and privacy practices independent of us, and therefore we disclaim any responsibility or liability for their policies or actions. </p>
<br/>

<p>For all other information email us at hello [at] fwb-game [dot] com.</p>
<br/>
</div>
</div>
<div class='spacer'></div>

