<div id='content'>



<% if !signed_in? %>

<div id='tagline'>Discover friends who'd like to be more than just friends.</div>

<div id = 'how-it-works-landing'>
<h3>How It Works:</h3>	

<ol>
<li> <fb:login-button perms="email, user_birthday, offline_access" autologoutlink="true" ></fb:login-button> with facebook.
</li>
<li> Pick friends in your network whom you'd like to be 'friends with benefits' with.  
</li>
<li> Get notified if your friend thinks the same about you.  Otherwise, no information is published.
</li>
</ol>
</div>
	<% else %>

		<div id='how-it-works'>

<div class='content'>
<div class='title'>How It Works</div>
<ol>
<li>
Pick a friend that you'd like to be 'friends with benefits' with.
</li>

<li> If your friend picks you back, an email notification will be sent to the both of you.  Otherwise, nothing is shared - all picks will remain private. 
</li>
</ol>
</div>		
</div>


		<div id='matches'>
			<div class='content'></div>

			<%= image_tag 'fwb-logo-l.png', :id => 'matches-logo' %>
		</div>

<!--		<div id='targets'>
		</div>
-->
		<div id='credits'>
			<div class='picks-count'>You can pick <%= pluralize(@credits, 'more friend') %>.</div>

			

<% image5 = image_tag '5-picks-btn.png'%>
<% image10 = image_tag '10-picks-btn.png'%>

<div class='purchase'>

<div class='5'>
<%= link_to image5, 'http://www.facebook.com/dialog/pay?app_id=195039077183959&redirect_uri=http://ons.heroku.com/fb/callback&credits_purchase=false&order_info=1' %>
</div>

<div class='10'>
<%= link_to image10, 'http://www.facebook.com/dialog/pay?app_id=195039077183959&redirect_uri=http://ons.heroku.com/fb/callback&credits_purchase=false&order_info=2' %>

</div>


</div>


		</div>





		<div class='highlight'>
		</div>

		
		<div class='friends-header'>

		<span>Show:</span>
		<a href='#' class='show-all-btn'>All Friends</a>
		<span> | </span>
		<a href='#' class='show-selected-btn'>Picked Friends Only</a>		
		</div>
		

		<div id='friends'>

		</div>

<div id='targets'>
</div>

	<% end %>
</div>
