<div class='matched'>

</div>

<div class='result'>

</div>


<% if !signed_in? %>
<fb:login-button perms="email, user_birthday, publish_stream, offline_access" >Connect with Facebook</fb:login-button>
<% else %>

<div class='how-it-works'>

You have ** One Night Stands left left out of ** total.


</div>

<% end %>
<div id='output'>

</div>

<a href='http://www.facebook.com/dialog/pay?app_id=195039077183959&redirect_uri=http://ons.heroku.com/fb/callback&credits_purchase=false&order_info=1' id='button'>Buy 5 credits for 50 facebook credits</a>
<a href='http://www.facebook.com/dialog/pay?app_id=195039077183959&redirect_uri=http://ons.heroku.com/fb/callback&credits_purchase=false&order_info=2' id='button'>Buy 15 credits for 100 facebook credits - save 30%</a>
<a href='http://www.facebook.com/dialog/pay?app_id=195039077183959&redirect_uri=http://ons.heroku.com/fb/callback&credits_purchase=false&order_info=3' id='button'>Buy 30 credits for 150 facebook credits - save 50%</a>


<div class='highlight'>


</div>



<div id='friends-list-container'>
	<ul id='friends'>

	</ul>
</div>


<form>
<input type="button" value="send" onClick="SendRequest()" />
</form>

