<div class='result'>

</div>

<a href='http://www.facebook.com/dialog/pay?app_id=195039077183959&redirect_uri=http://ons.heroku.com&credits_purchase=false&order_info=1' id='button'>Buy</a>

<% if !signed_in? %>
<fb:login-button perms=read_friendlists>Connect with Facebook</fb:login-button>
<% else %>

<div class='how-it-works'>

You have ** One Night Stands left left out of ** total.

<p>Buy 5 One Night Stands with 50 Facebook Credits</P>

<p>Buy 15 One Night Stands with 105 Facebook Credits, Save 30%</p>

</div>

<% end %>
<div id='output'>

</div>




<div class='highlight'>

</div>



<div id='friends-list-container'>
	<ul id='friends'>

	</ul>
</div>


<form>
<input type="button" value="send" onClick="SendRequest()" />
</form>

