<% content_for :header do %>
	<div id='header'>
		<%= render 'shared/account_nav' %>
	</div>
<% end %>


<div id='tos'>
<h3>Terms of Service for Fwb-game.com ('The Friends with Benefits Game')</h3>
<br/>
<ol>
<li>
<b>Acceptance of Use of 'The Friends with Benefits Game' Terms of Service</b>
<p>Your  access  to  and  use  of  'The Friends with Benefits Game' is  subject exclusively to these Terms of Service. You will not use 'The Friends with Benefits Game' for any purpose that is unlawful or prohibited by these Terms of Service. By using 'The Friends with Benefits Game' you are fully accepting the terms,  conditions and disclaimers contained in this notice. If you do not accept these Terms of Service you must immediately stop using 'The Friends with Benefits Game'.</p>
</li>

<li>
<b>Advice</b>
<p>The contents of 'The Friends with Benefits Game' website do not constitute advice and should not be relied upon in making or refraining from making, any decision.</p>
</li>

<li>
<b>Use of 'The Friends with Benefits Game'</b>
<p>
You represent and warrant that you are at least 18 years old or play 'The Friends with Benefits Game' with approval by, and under the supervision of, a parent or guardian.
</p>
</li>

<li>
<b>Change of Use</b>
<p>'The Friends with Benefits Game' reserves the right to:<br /> 
<ul>
<li>change or remove (temporarily or permanently) 'The Friends with Benefits Game' or any part of it without notice and you confirm that 'The Friends with Benefits Game' shall not be liable to you for any such change or removal and</li> 
<li>change these Terms of Service at any time, and your continued use of 'The Friends with Benefits Game' following any changes shall be deemed to be your acceptance of such change.</li>
</ul>
</li>

<li>
<b>Revisions and Errata</b>
<p>The materials appearing on 'The Friends with Benefits Game' could include technical, typographical, or photographic errors. 'The Friends with Benefits Game' does not warrant that any of the materials on its web site are accurate, complete, or current. 'The Friends with Benefits Game' may make changes to the materials contained on its web site at any time without notice. 'The Friends with Benefits Game' does not, however, make any commitment to update the materials.</p>
</li>

<li>
<b>Links to Third Party Websites</b>
<p>'The Friends with Benefits Game' may include links to third party websites that are controlled and maintained by others. Any link to other websites is not an endorsement of such websites and you acknowledge and agree that we are not responsible for the content or availability of any such sites.</p>
</li>

<li>
<b>Copyright </b>
<ul>
<li>All copyright, trade marks and all other intellectual property rights in 'The Friends with Benefits Game' and its content (including without limitation the website design, text, graphics and all software and source codes connected with 'The Friends with Benefits Game') are owned by or licensed to 'The Friends with Benefits Game' or otherwise used by 'The Friends with Benefits Game' as permitted by law.</li> 
<li>In accessing 'The Friends with Benefits Game' you agree that you will access the content solely for your personal, non-commercial use. None of the content may be downloaded, copied, reproduced, transmitted, stored, sold or distributed without the prior written consent of the copyright holder. This excludes the downloading, copying and/or printing of pages of 'The Friends with Benefits Game' for personal, non-commercial home use only.
</li>
</ul>
</li>

<li>
<b>Disclaimers and Limitation of Liability</b>
<ul>

<li>
'The Friends with Benefits Game' is provided on an AS IS and AS AVAILABLE basis without any representation or endorsement made and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.
</li>

<li>
'The Friends with Benefits Game' is not associated with Sony Pictures Digital Inc. nor the movie "Friends with Benefits" produced by Sony Pictures Digital Inc. 
</li>

<li>
To the extent permitted by law, 'The Friends with Benefits Game' will not be liable for any indirect or consequential loss or damage whatever (including without limitation loss of business, opportunity, data, profits) arising out of or in connection with the use of 'The Friends with Benefits Game'.
</li>

<li>
'The Friends with Benefits Game' makes no warranty that the functionality of the website will be uninterrupted or error free, that defects will be corrected or that the website or the server that makes it available are free of viruses or anything else which may be harmful or destructive.
</li>

<li>
Nothing in these Terms of Service shall be construed so as to exclude or limit the liability of 'The Friends with Benefits Game' for death or personal injury as a result of the negligence of 'The Friends with Benefits Game' or that of its employees or agents.
</li>

</ul>
</li>

<li>
<b>Indemnity</b>

<p>
You agree to indemnify and hold 'The Friends with Benefits Game' and its employees and agents harmless from and against all liabilities, legal fees, damages, losses, costs and other expenses in relation to any claims or actions brought against 'The Friends with Benefits Game' arising out of any breach by you of these Terms of Service or other liabilities arising out of your use of 'The Friends with Benefits Game'.
</p>

</li>

<li>
<b>Severance</b>
<p>
If any of these Terms of Service should be determined to be invalid, illegal or unenforceable for any reason by any court of competent jurisdiction then such Term or Condition shall be severed and the remaining Terms of Service shall survive and remain in full force and effect and continue to be binding and enforceable.
</p>

</li>

<li>
<b>Governing Law</b>
<p>
These Terms of Service shall be governed by and construed in accordance with the law of USA and you hereby submit to the exclusive jurisdiction of the USA courts.
</p>
</li>

<p>
For further information please email us at hello [at] fwb-game [dot] com.
</p>
<br/>
</div>

<div class='spacer'></div>

