<div id='content'>

<h3>Terms of Service for 'Friends-With-Benefits.me' (hereafter FWB)</h3>

<ol>
<li>
<b>Acceptance of Use of FWB Terms of Service</b>
<p>Your  access  to  and  use  of  FWB is  subject exclusively to these Terms of Service. You will not use the Website for any purpose that is unlawful or prohibited by these Terms of Service. By using  the  Website  you  are  fully  accepting  the  terms,  conditions  and disclaimers contained in this notice. If you do not accept these Terms of Service you must immediately stop using the Website.</p>
</li>
<br/>

<li>
<b>Advice</b>
<p>The contents of FWB website do not constitute advice and should not be relied upon in making or refraining from making, any decision.</p>
</li>
<br/>

<li>
<b>Change of Use</b>
<p>FWB reserves the right to:<br /> 
<ul>
<li>change or remove (temporarily or permanently) the Website or any part of it without notice and you confirm that FWB shall not be liable to you for any such change or removal and</li> 
<li>change these Terms of Service at any time, and your continued use of the Website following any changes shall be deemed to be your acceptance of such change.</li>
</ul>
</li>
<br/>

<li>
<b>Revisions and Errata</b>
<p>The materials appearing on FWB's web site could include technical, typographical, or photographic errors. FWB does not warrant that any of the materials on its web site are accurate, complete, or current. FWB may make changes to the materials contained on its web site at any time without notice. FWB does not, however, make any commitment to update the materials.</p>
</li>
<br/>

<li>
<b>Links to Third Party Websites</b>
<p>FWB Website may include links to third party websites that are controlled and maintained by others. Any link to other websites is not an endorsement of such websites and you acknowledge and agree that we are not responsible for the content or availability of any such sites.</p>
</li>
<br/>

<li>
<b>Copyright </b>
<ul>
<li>All  copyright,  trade  marks  and  all  other  intellectual  property  rights  in  the Website and its content (including without limitation the Website design, text, graphics and all software and source codes connected with the Website) are owned by or   licensed to FWB or otherwise used by FWB as permitted by law.</li> 
<li>In accessing the Website you agree that you will access the content solely for your personal, non-commercial use. None of the content may be downloaded, copied, reproduced, transmitted, stored, sold or distributed without the prior written consent of the copyright holder. This excludes the downloading, copying and/or printing of pages of the Website for personal, non-commercial home use only.
</li>
</ul>
</li>
<br/>

<li>
<b>Disclaimers and Limitation of Liability</b>
<ul>

<li>
The Website is provided on an AS IS and AS AVAILABLE basis without any representation or endorsement made and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.
</li>

<li>
To the extent permitted by law, FWB will not be liable for any indirect or consequential loss or damage whatever (including without limitation loss of business, opportunity, data, profits) arising out of or in connection with the use of the Website.
</li>

<li>
FWB makes no warranty that the functionality of the Website will be uninterrupted or error free, that defects will be corrected or that the Website or the server that makes it available are free of viruses or anything else which may be harmful or destructive.
</li>

<li>
Nothing in these Terms of Service shall be construed so as to exclude or limit the liability of FWB for death or personal injury as a result of the negligence of FWB or that of its employees or agents.
</li>

</ul>
</li>
<br/>

<li>
<b>Indemnity</b>

<p>
You agree to indemnify and hold FWB and its employees and agents harmless from and against all liabilities, legal fees, damages, losses, costs and other expenses in relation to any claims or actions brought against FWB arising out of any breach by you of these Terms of Service or other liabilities arising out of your use of this Website.
</p>

</li>
<br/>

<li>
<b>Severance</b>
<p>
If any of these Terms of Service should be determined to be invalid, illegal or unenforceable for any reason by any court of competent jurisdiction then such Term or Condition shall be severed and the remaining Terms of Service shall survive and remain in full force and effect and continue to be binding and enforceable.
</p>

</li>
<br/>

<li>
<b>Governing Law</b>
<p>
These Terms of Service shall be governed by and construed in accordance with the law of USA and you hereby submit to the exclusive jurisdiction of the USA courts.
</p>
</li>
<br/>

<p>
For all further information please email us at hello [at] friends-with-benefits [dot] me
</p>

</div>
<div class='spacer'></div>

