<html>
<body>

A friend of yours in your facebook network is interested in being your friend with benefits.   
<br/>
<br/>
Log in to <%= link_to 'friends-with-benefits.me', "http://friends-with-benefits.me" %> with your facebook account to find out who it is.
<br/>
<br/>
The "Friends with Benefits" team

Friends-with-Benefits.me is a new facebook app (?created by Jonathan and Eric Chiu) that allows you to seek out friends in your facebook network who are interested in being more than just your friend.

It is safe for work and does not contain any graphic images.

#logo?
 
</body>
</html>

